/*
FORM
*/

.form {
    width: 425px;
    margin: 0 auto;
    max-width: 100%;

    --hp-accent: #000;
    --hp-accent-light: #dedede;
    --hp-accent-text: #fff;
}
    
.form * {
    box-sizing: border-box;
}

.form .title.hidden,
.form .lists.hidden,
.form .description.hidden {
    display: none;
}

.form .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form .description {
    margin-top: -0.8rem;
    font-size: 16px;
    color: #666;
    margin-bottom: 1.2rem;
}

.form .input {
    position: relative;
}
.form .email-input {
    padding: 10px 25px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 8px #0000001c;
    border-radius: 20px;
    width: 100%;
    font-family: inherit;
}
.form button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: calc(100% - 6px);
    font-family: inherit;
    z-index: 1;
}

.form .lists {
    margin-bottom: 1.2rem;
}

.form .footer {
    padding-top: 1rem;
    font-size: 14px;
    color: #666;
}

.form .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
    cursor: pointer;
}

.form .list-name {
    font-size: 16px;
    font-weight: 600;
}

.form .list-description {
    font-size: 14px;
    color: #666;
}