/*
FORM
*/

.form {
    width: 425px;
    margin: 0 auto;
    max-width: 100%;

    --hp-accent-light: #dedede;
}

.form * {
    box-sizing: border-box;
}

.form .title.hidden,
.form .lists.hidden,
.form .description.hidden {
    display: none;
}

.form .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form .description {
    margin-top: -0.8rem;
    font-size: 16px;
    color: #666;
    margin-bottom: 1.2rem;
}

.form .input {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 8px #0000001c;
    border-radius: 20px;
    display: flex;
    padding: 3px;
}

.form .input.focused {
    outline: 2px solid var(--hp-accent);
}

.form .email-input {
    padding: 6px 20px;
    border: none;
    flex: 1;
    font-family: inherit;
    background-color: transparent;
}

.form .email-input:focus {
    outline: none;
}

.form button {
    background-color: var(--hp-accent);
    color: var(--hp-accent-text);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
    padding: 0 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form button:disabled {
    background-color: #dedede;
    cursor: not-allowed;
}

.form .success-message {
    margin-top: 1rem;
    font-size: 16px;
    color: #666;
}

.form .lists {
    margin-bottom: 1.2rem;
}

.form .footer {
    padding-top: 1rem;
    font-size: 14px;
    color: #666;
}

.form .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
    cursor: pointer;
}

.form .list-name {
    font-size: 16px;
    font-weight: 600;
}

.form .list-description {
    font-size: 14px;
    color: #666;
}

.form .message {
    margin-top: 1rem;
    padding: 10px 23px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.form .message.success {
    background-color: #5d995d;
    color: #fff;
}
.form .message.error {
    background-color: #ab2525;
    color: #fff;
}
