:root {
    --accent: #5A8387 !important;
    --width: 95vw;
    --max-width: 1440px;
}

:root:not(.dark) {
    --accent-light: #e5f1f2;
    --accent-lightest: #fbfdff;
    --accent-light-mid: #eaf1f2;
}