framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        # failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            async: 'doctrine://default'

when@test:
    framework:
        messenger:
            transports:
                async: 'test://'
                scheduler_default: 'test://'
