{% extends '@Internal/mail/mail.html.twig' %}

{% block title %}
    {{ strings.subject }}
{% endblock %}

{% block heading %}
    {{ strings.subject }}
{% endblock %}

{% block content %}
    <p>
        {{ strings.greeting }}
    </p>

    <p>
        Your domain <strong>{{ strings.domain }}</strong> has been successfully verified and is now ready to use for
        sending emails via Hyvor Post.
    </p>

    <p>If you have any questions or need assistance, please don't hesitate to contact our support team.</p>
{% endblock %}
